name: wrangler

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

env:
  WRANGLER_SEND_METRICS: 'false'

jobs:
  wrangler:
    runs-on: ubuntu-latest
    name: ${{github.event_name == 'push' && 'publish' || 'build'}}
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set wrangler version
        id: wrangler
        run: echo "version=$(jq -r .devDependencies.wrangler package.json | cut -c2-)" >> "$GITHUB_OUTPUT"

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 20
          cache: 'npm'

      - name: Install
        run: npm ci

      - name: Publish worker
        if: github.event_name == 'push'
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          wranglerVersion: ${{ steps.wrangler.outputs.version }}
          command: deploy

      - name: Publish worker (dry-run)
        if: github.event_name != 'push'
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: 'pull_request'
          wranglerVersion: ${{ steps.wrangler.outputs.version }}
          command: deploy --dry-run=true
